<!DOCTYPE html>
<html lang="en" ng-app="ms.app">
<head>
    <meta charset="UTF-8">
    <title>$multiselect Testing</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="multiselect.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>

</head>
<body ng-controller="AppCtrl">

<div class="container" style="padding-top: 10px;">

    <div style="margin-bottom: 10px;">
        <button ng-hide="showPre" type="button" class="btn btn-sm btn-default" ng-click="showPre = !showPre">Show Options</button>
        <button ng-show="showPre" type="button" class="btn btn-sm btn-info" ng-click="showPre = !showPre">Hide Options</button>
    </div>

    <ms-dropdown ng-repeat="option in options_2" options="option"></ms-dropdown>
    <ms-dropdown ng-repeat="option in options_1" options="option"></ms-dropdown>

    <pre ng-if="showPre" ng-repeat="option in options_1">{{ option | json }}</pre>
    <pre ng-if="showPre" ng-repeat="option in options_2">{{ option | json }}</pre>

</div>

<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.17/angular.min.js'></script>
<script src="multiselect.min.js"></script>
<script src="multiselect.app.js"></script>
</body>
</html>