<div class="dropdown ms-container" ng-class="menuOpen ? 'open' : null" hide-menu="menuOpen=false">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle" ng-click="menuOpen = !menuOpen">
        {{ dropdownTitle }} <i class="fa fa-caret-down drop-down"></i>
    </button>
    <ul class="dropdown-menu ms-menu">
        <li>
            <button type="button" class="btn btn-sm btn-default" ng-click="selectAll()">
                <i class="fa fa-fw fa-check"></i> All
            </button>
            <button type="button" class="btn btn-sm btn-default" ng-click="selectNone()">
                <i class="fa fa-fw fa-check"></i> None
            </button>
        </li>
        <li ng-repeat="option in options.options track by $index">
            <button class="btn btn-sm min-ele" ng-class="option.checked ? btnS : btnD"
                    ng-click="onSelect($index)">
                <i class="fa fa-fw" ng-class="option.checked ? checked : checkOpen"></i> {{ option.label }}
            </button>
        </li>
    </ul>
</div>