@gray: rgba(0, 0, 0, .5);

.userSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.ms-container {
  display: inline-block;
  margin: 0 10px 10px 0;
  button {
    i.drop-down {
      padding-left: 8px;
      margin-left: 5px;
      border-left: 1px solid @gray;
      color: @gray;
    }
    &:focus {
      outline: none;
    }
  }
  ul.ms-menu {
    min-width: 205px;
    background-color: #fff;
    li {
      width: auto;
      padding: 5px;
      .userSelect;
      &:first-child {
        button {
          margin-right: 5px;
          &:last-child {
            margin: 0;
          }
        }
      }
      &:hover {
        color: #000;
        background-color: #fff;
      }
      i {
        margin-right: 10px;
      }
      .min-ele {
        text-align: left;
        min-width: 192px;
      }
      button {
        &:focus {
          outline: none;
        }
      }
      i {
        cursor: pointer;
        margin-left: 5px;
        color: @gray;
        &:hover {
          color: #000;
        }
      }
    }
  }
}

